html    {
    background-color: #333;
    z-index: 0;
    overflow-x: hidden;
    overflow: visible;
    
}
/*
::-webkit-scrollbar { 
    display: none; 
}
*/
body    {
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}
.margin {
    margin-right: 2rem;
    margin-left: 2rem;
}
@media screen and (min-width: 1920px) and (max-width: 10000px) {
/*
    body    {
    width: 1920px;
}
*/
    .margin    {
    width: calc(1920px - 4rem);
    }
}
@media screen and (min-width: 000px) and (max-width: 799px) {
    .margin    {
    margin-right: 1rem;
    margin-left: 1rem;
    }
    .margin-absolute-position {
    margin-right: 1rem;
    margin-left: 1rem;
    }
}


