@font-face {
    font-family: 'Recollection';
    src: url('/assets/fonts/Recollection-Display-Regular-Web.woff');
    format("woff");
    font-weight: 500;
    font-style: normal;
}
html    {
    font-size: 62.5%;
    font-family: 'Recollection', "Helvetica", "Arial", sans-serif;
}
h1, h2, h3, h4, h5, h6, a, p, blockquote {
    border: 0;
    margin: 0;
    padding: 0;
    color: #D6D7D8;
    font-weight : normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
/*    font-variant-numeric: tabular-nums;*/
}
b, strong {
    font-weight: 700;
    letter-spacing: -0.025em;
}
small, sub, sup {
    font-size: 50%;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.8em;
    font-size: 0.5em;
}
em  {
    font-style: italic;
}
.rule-above  {
    top: -2px;
    position: absolute;
    margin-top: -2px;
    border-top: 2px solid #D6D7D8;
}
.tabular-numbers {
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.025em;
}
.right-algin    {
    text-align: right;
}
.center-algin    {
    text-align: center;
}
h1  {
    font-weight: 500;
    font-size: 110px;
    font-size: 11.0rem;
    font-size: 7.55vw;
    line-height: 1em;
    letter-spacing: -.025em;
    word-spacing: -0.03em;
}
h2  {
    font-size: 32px;
    font-size: 2.22vw;
    font-size: 3.2rem;
    line-height: 1.09375em;
    font-weight: 500;
    letter-spacing: -0.015em;
    word-spacing: -0.02em;
}
h3  {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.15384615em;
    font-weight: 500;
}
h4  {
    font-weight: 500;
    font-size: 300px;
    font-size: 20.83vw;
    line-height: 1em;
    letter-spacing: -.05em;
    word-spacing: 0.025em;
}
p   {
    font-size: 18px;
    font-size: 1.25vw;
    line-height: 1.11111111em;
    font-weight: 500;
    letter-spacing: -0.0025em;
    word-spacing: 0.0025em;
}
blockquote  {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.09375em;
    letter-spacing: -0.025em;
    font-weight: 700;
    margin-left: -2.2rem;
    margin-top: 1.7rem;
    margin-bottom: 1.8rem;
    border-left: 2px solid #1F2021;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
@media screen and (min-width: 1920px) and (max-width: 10000px) {
    html    {
    font-size: 75%;
    }
    p   {
    letter-spacing: -0.005em;
    word-spacing: 0.005em;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
    html    {
    font-size: 68.75%;
    }
    p   {
    letter-spacing: -0.005em;
    word-spacing: 0.005em;
    }
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
    html    {
    font-size: 56.25%;
    }
}
@media screen and (min-width: 400px) and (max-width: 799px) {
    html    {
    font-size: 50%;
    }
    h1  {
    font-size: 60px;
    font-size: 6.0rem;
    letter-spacing: -.015em;
    word-spacing: -0.015em;
    }
    h3  {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.07142857em;
    }
    h2  {
        font-size: 32px;
        font-size: 3.2rem;
    }
    h4  {
        font-weight: 500;
        font-size: 300px;
        font-size: 20.0rem;
    }
    p   {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.13636364em;
    font-weight: 500;
    letter-spacing: -0.003333em;
    word-spacing: 0.0025em;
    }    
    blockquote  {
    margin-left: 0rem;
    margin-top: 1.6rem;
    margin-bottom: 1.9rem;
    }
}
@media screen and (min-width: 000px) and (max-width: 399px) {
    html    {
    font-size: 50%;
    }
    h1  {
    font-size: 50px;
    font-size: 5.0rem;
    letter-spacing: -.015em;
    word-spacing: -0.015em;
    }
    h3  {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.07142857em;
    }
    h2  {
        font-size: 32px;
        font-size: 3.2rem;
    }
    h4  {
        font-weight: 500;
        font-size: 300px;
        font-size: 20.0rem;
    }
    p   {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.13636364em;
    font-weight: 500;
    letter-spacing: -0.003333em;
    word-spacing: 0.0025em;
    }    
    blockquote  {
    margin-left: 0rem;
    margin-top: 1.6rem;
    margin-bottom: 1.9rem;
    }
h1 a {
    border-bottom: 0px currentColor solid;
    padding-bottom: .015em;
    transition: 200ms ease; 
}
}
